@use '_var' as *;
@use '_mixin' as *;

:root {
    --border-base: 4px;
    --header-height: 4.5rem;

    @include mq {
        --border-base: 3px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @include mq {
        font-size: 14px;
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.025em;
    line-height: 1.6;
    margin: 0;
    background-color: $dark100;
}

.mono {
    @include mono;
    letter-spacing: 0;
    line-height: 1;
}

#app {
    position: relative;
}

:has(dialog[open]) {
    overflow: hidden;
}
