@use '_var' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: center;
}

@mixin circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

@mixin circular($total) {
    position: absolute;
    top: 50%;
    left: 50%;
    --angle: calc(360deg / #{$total} * var(--i));
    --x: calc(cos(var(--angle)) * var(--pos));
    --y: calc(sin(var(--angle)) * var(--pos));
    translate: calc(var(--x) - 50%) calc(var(--y) - 50%);
}

@mixin hand($width, $out) {
    position: absolute;
    width: $width;
    top: 50%;
    left: 50%;
    translate: -50% calc($out * -1);
    transform-origin: calc($width / 2) $out;
}

@mixin hand-inner {
    &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: calc(100% - $border-regular);
        background-color: $dark;
        top: 0;
        left: 50%;
        translate: -50% 0;
    }
}

@mixin mq {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin text-colors {
    @each $name, $value in $colors {
        &-#{$name} {
            color: $value;
        }
    }
}

@mixin bg-colors {
    @each $name, $value in $colors {
        &-#{$name} {
            background-color: $value;
        }
    }
}

@mixin border-colors {
    @each $name, $value in $colors {
        &-#{$name} {
            border-color: $value;
        }
    }
}
