$light: #f0f0f0;
$light200: #cccccc;
$light300: #a0a0a0;
$light400: #646464;
$dark100: #181818;
$dark200: #242424;
$dark300: #343434;
$dark400: #484848;

$orange: #eb8b47;
$blue: #477eeb;
$pink: #cb4da1;
$green: #4dcb77;
$colors: (
    'orange': $orange,
    'blue': $blue,
    'pink': $pink,
    'green': $green
);

$border-light: 2px;
$border-regular: calc(var(--border-base) * 1.5);
$border-medium: calc(var(--border-base) * 2);
$border-semibold: calc(var(--border-base) * 3);
$border-bold: calc(var(--border-base) * 4);
$border-extrabold: calc(var(--border-base) * 5);

$inline: clamp(1.25rem, 2vw, 3rem);
$block: 1.5rem;
$index-size: clamp(1.8rem, 8vw, 2.75rem);
$scale-height: 0.8rem;
$make-button-size: 3.5rem;
$duration: 0.2s;
$delay: 0.2s;
