$light: #f5f5f5;
$gray: #888888;
$dark: #222222;
$orange: #ff8904;
$blue: #155dfc;

$border-light: 2px;
$border-regular: calc(var(--border-base) * 1.5);
$border-medium: calc(var(--border-base) * 2);
$border-semibold: calc(var(--border-base) * 3);
$border-bold: calc(var(--border-base) * 4);
$border-extrabold: calc(var(--border-base) * 5);

$index-size: clamp(0.75rem, 10vw, 1rem);
$scale-height: 0.3rem;